# basics dsa

In [1]:
print('hello')

hello

In [2]:
firstName='koustav'
lastName='Maity'
age=23
details=print(f'My name is {firstName} {lastName} and i am {age} years old')
print(details)

My name is koustav Maity and i am 23 years old
None

In [3]:
name=input('Enter your name: ')
print(f'Your name is {name}')

Your name is koustav

In [4]:
new ='My name is koustav Maity and i am 23 years old'
new.split(' ')
# new.split('a')

['My',
 'name',
 'is',
 'koustav',
 'Maity',
 'and',
 'i',
 'am',
 '23',
 'years',
 'old']

In [5]:
num=[1,2,3,4,5,6,7,8,9,10]
num[0:5]

[1, 2, 3, 4, 5]

In [6]:
num[1]

2

In [7]:
new3='koustav'
new3.find("o")

1

In [8]:
new3.find('o',2)

-1

# find the column value in 3 arrays

In [5]:
l1=[1,5,5]
l2=[3,4,5,5,20]
l3=[3,5,10,20]

s1=set(l1)
s2=set(l2)
s3=set(l3)

s1s2=s1.intersection(s2)
finaleSet=s1s2.intersection(s3)
list(finaleSet)

[5]

In [1]:
# create a dictionary
my_dict = {'apple': 2, 'banana': 3, 'orange': 4}
my_dict.items()
# dictionary methods
# my_dict.clear() # removes all elements from the dictionary
# my_dict.copy() # returns a shallow copy of the dictionary
# my_dict.fromkeys(keys, value) # creates a new dictionary with keys from iterable and values set to value
# my_dict.get(key, default=None) # returns the value for the specified key if key is in the dictionary, else default
# my_dict.items() # returns a list of dict's (key, value) tuple pairs
# my_dict.keys() # returns a list of dictionary keys
# my_dict.pop(key, default=None) # removes and returns the value for the specified key if key is in the dictionary, else default
# my_dict.popitem() # removes and returns an arbitrary (key, value) tuple pair from the dictionary

# my_dict.update(other_dict) # updates the dictionary with the key/value pairs from other_dict
# my_dict.values() # returns a list of dictionary values
my_dict['apple']

2

In [5]:
my_dict1={
    'a':200,
    'b':400,
    'c':500,
}

demo=0
for x,y in my_dict1.items():
    demo=demo+y
print(demo)

1100

# conditional conditions

In [9]:
if(1>2):
    print('true')
else:
    print('false')

false

In [10]:
# Option 1: Directly pass the values to the range function
for i in range(0, 10):
    print(i, end=' ')
print('| ')
# Option 2: Create a list and iterate over it using a for loop
values = [1, 2, 3, 5, 64, 6, 7, 8, 9]
for i in values:
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 |
1 2 3 5 64 6 7 8 9

# function

In [11]:
def sum(a,b):
    return a+b

sum(2,3)

5

In [16]:
def sumingivenNumber(n):
    sum=0
    for i in range(1,n+1):
        sum=sum+i
    return sum
sumingivenNumber(10)

55

In [17]:
def palindrome(str):
    return str==str[::-1]
palindrome('121')

True

In [12]:
a=int(input('enter a number'))
b=int(input('enter a number'))
operator=input('enter a number')
def arithmaticOp(a,b,operator):
    if (operator=='+'):
        print(a+b)
    elif (operator=='-'):
        print(a-b)
    elif (operator=='/'):
        print(a/b)
    elif (operator=='*'):
        print(a*b)
    elif (operator=='%'):
        print(a%b)
    elif (operator=='**'):
        print(a**b)
    else :
        print('unknown operator')

arithmaticOp(a,b,operator)